<table>
    <thead>
        <tr class="header">
            <th class="cell">#</th>
            <th class="cell">Task</th>
            <th class="cell">Check</th>
            <th>DONE/IN PROGRESS</th>
            <th class="cell">Edit</th>
            <th class="cell">DELETE</th>
        </tr>
    </thead>
    <tbody class="usersTable">
        <tr *ngFor="let task of tasks; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ task.taskName }}</td>
            <td><input type="checkbox" (click)="changeStatus(i)" [checked]="task.doneStatus"></td>
            <td [style.color]="task.doneStatus ? 'green' : 'red'" [textContent]="task.doneStatus ? 'DONE' : 'In PROGRESS'"></td>
            <td><button class="edit-btn" [disabled]="task.doneStatus" (click)="editTask(i)">Edit</button></td>
            <td><button class="delete-btn" [disabled]="!task.doneStatus" (click)="deleteTask(i)">Delete</button></td>
        </tr>
        <tr *ngIf="isEdited" class="edit-block">
            <td></td>
            <td></td>
            <td></td>
            <td><input type="text" [(ngModel)]="editedTaskName"></td>
            <td><input type="button" value="save" class="save-btn" (click)="saveEditedUser()"></td>
        </tr>
    </tbody>
</table>